<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Message</h2>
  <p><%= mes %></p>
    <a href="localhost:8080/public/test.html"target=”_blank”>/public/test.htmlへのリンク</a>
</body>
</html>